<h3 class="page-header">Search books</h3>

<form action="/books" method="GET">

    <div class="form-item">
        <label for="">Title</label>
        <input type="text" name="title" id="title" value="<%= searchOptions.title %>">
    </div>

    <div class="form-row">
        <div class="form-item">
            <label for="">Published after</label>
            <input type="date" name="publishedAfter" id="publishedAfter"
                       value="<%= searchOptions.publishedAfter %>">

        </div>

        <div class="form-item">
            <label for="">Published before</label>
            <input type="date" name="publishedBefore" id="publishedBefore"
                       value="<%= searchOptions.publishedBefore %>">

        </div>
        <div class="form-item">
            <label for="sortByGenre">Select your genre: </label>
            <select name="sortByGenre" id="sortByGenre">
                <option value="">
                <% for (let genre of genres) { %>
                    <option label="<%= genre.name %>" value="<%= genre.ID %>"></option>
                <% }%>
            </select>
        </div>
        <div class="form-item">
            <label for="sortByRating">Sort by rating: </label>
            <input type="checkbox" name="sortByRating" id="sortByRating">
        </div>


    </div>

    <div class="btn-row form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search books</button>
    </div>
</form>

<h2>All books. Totally <%= entriesCol %></h2>

<div class="books">
    <%- include('../partials/renderBookGrid', { books, large: true }) %>
</div>


