<h2 class="page-header"><%= book.title %> </h2>

<div class="book">
    <div class="cover">
        <img height="150" width="100"
             src="<%= book.coverImagePath %>" alt="<% book.title %>">

        <a class="btn btn-primary" href="/books/<%= book.ID %>/edit">Edit</a>
        <%- include('../partials/deleteForm', { url: `/books/${book.ID}`}) %>
        <a class="btn btn-primary" href="/authors/<%= book.authorID %>">View author</a>
    </div>

    <div class="info">
        <p>Author: <%= book.author.name %></p>
        <p>Publish Date: <%= book.publishDate.toDateString() %></p>
        <p>Page Count: <%= book.pageCount %></p>
        <p>Description: <%= (book.description ? book.description : 'No description') %></p>
    </div>
</div>
