<h3 class="page-header">Search authors</h3>

<form action="/authors" method="GET">
    <div class="form-item">
        <input type="text" name="pattern" id="pattern" value="<%= pattern %>">
    </div>
    <div class="btn-row form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<h2 class="page-header">All authors</h2>

<ul class="authors">
    <% authors.forEach(author => { %>
        <li>
            <p class="author-name"><%= author.name %></p>
            <div class="btn-row">
                <a class="btn btn-primary" href="/authors/<%= author.ID %>">View</a>
                <a class="btn btn-primary" href="/authors/<%= author.ID %>/edit">Edit</a>
                <%- include('../partials/deleteForm', { url: `/authors/${author.ID}` }) %>
            </div>
        </li>
    <% }) %>

</ul>

