<h3>Search authors</h3>

<form action="/authors" method="GET">
    <label for="">
        <input type="text" name="pattern" id="pattern" value="<%= pattern %>">
    </label>
    <button type="submit">Search</button>
</form>

<h2 class="page-header">All authors</h2>

<div class="authors">
    <ul>
        <% authors.forEach(author => { %>
            <li>
                <div>
                    <%= author.name %>
                    <div class="btn-row">
                        <a class="btn btn-primary" href="/authors/<%= author.ID %>">View</a>
                        <a class="btn btn-primary" href="/authors/<%= author.ID %>/edit">Edit</a>
                        <%- include('../partials/deleteForm', { url: `/authors/${author.ID}` }) %>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>

</div>

